
@import "tailwindcss";
*{
    font-family: 'Inter', sans-serif;
}
@theme {
  /* backgrounds */
  --color-bg: #111111;
  --color-surface: #1e1e1e;
  --color-elevated: #1a1a1a;
  --color-border: #2a2a2a;

  /* text */
  --color-text-primary: #ffffff;
  --color-text-secondary: #aaaaaa;
  --color-text-muted: #555555;

  /* semantic */
  --color-income: #1D9E75;
  --color-expense: #D85A30;
  --color-balance: #ffffff;

  /* categories */
  --color-cat-food: #534AB7;
  --color-cat-rent: #D85A30;
  --color-cat-transport: #1D9E75;
  --color-cat-salary: #1D9E75;
  --color-cat-other: #BA7517;
}
.metric-card{
  @apply flex flex-col justify-center items-start gap-0.5 bg-surface border-b-elevated rounded-lg p-3.5
}
h3{
  @apply text-[#555] text-[11px] uppercase space-x-[0.5px] mb-1.5
}
.card-value{
  @apply  text-2xl font-medium
}
