
@import "tailwindcss";
@import 'swiper/css';
*{
    font-family: 'Inter', sans-serif;
}
body{
  height: 100dvh;
  width: 100dvw;
}
@theme {
  /* backgrounds */
  --color-bg: #111111;
  --color-surface: #1e1e1e;
  --color-elevated: #1a1a1a;
  --color-border: #2a2a2a;

  /* text */
  --color-text-primary: #ffffff;
  --color-text-secondary: #aaaaaa;
  --color-text-muted: #555555;

  /* semantic */
  --color-income: #1D9E75;
  --color-expense: #D85A30;
  --color-balance: #ffffff;

  /* categories */
  --color-cat-food: #534AB7;
  --color-cat-rent: #D85A30;
  --color-cat-transport: #1D9E75;
  --color-cat-salary: #1D9E75;
  --color-cat-other: #BA7517;
  --color-cat-entertainment: #F59E0B;
}
.metric-card{
  @apply flex flex-col justify-center items-start gap-0.5 bg-surface border-b-elevated rounded-lg p-3.5
}
h3{
  @apply text-[#555] text-[11px] uppercase space-x-[0.5px] mb-1.5
}
.card-value{
  @apply  text-2xl font-medium
}
.recent-transactions-list,
.spending-category-list,
.all-transactions {
  @apply bg-surface p-5 rounded-lg shadow-md flex flex-col justify-around;
  list-style-type: disc;
  list-style-position: outside;
  padding-right: 1rem;
  gap: 0.75rem;
}

.recent-transactions-list > li,
.spending-category-list > li,
.all-transactions > li {
  @apply py-2.5 px-6 rounded-lg hover:bg-elevated cursor-pointer;
}

.recent-transactions-list > li::marker,
.spending-category-list > li::marker {
  font-size: 0.9rem;
  line-height: 1;
}

li {
  @apply rounded-lg hover:bg-elevated cursor-pointer;
}
label{
  @apply text-sm text-[#aaa]
}
